<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xavier.dao.CartDao">
    <resultMap id="cartModelMap" type="com.xavier.model.CartRecordModel">
        <result column="id" property="id"/>
        <result column="title" property="name"/>
        <result column="num" property="number"/>
        <result column="price" property="price"/>
    </resultMap>

    <sql id="cart_table">
        `cart`
    </sql>

    <sql id="product_table">
        `product`
    </sql>

    <select id="listProducts" resultMap="cartModelMap">
        SELECT a.product_id as `id`, b.title as `title`, a.num as `num`, b.price as `price`
        FROM <include refid="cart_table"/> a
        LEFT JOIN <include refid="product_table"/> b
        ON a.product_id=b.id
        WHERE a.deleted=1
    </select>
</mapper>