<div class="n-support">请使用Chrome、Safari等webkit内核的浏览器！</div>
<div class="n-head">
    <div class="g-doc f-cb">
        <div class="user" th:unless="${isLogin}">
            请<a href="/sales/login">[登录]</a>
        </div>
        <div class="user" th:if="${isLogin}">
            <span th:switch="${name}">
                <span th:case="'seller'">卖家你好，</span>
                <span th:case="'buyer'">买家你好，</span>
            </span>
            <span th:text="${name} + '！'"></span>
            <a href="javascript:quitLogin()">[退出]</a>
        </div>
        <ul class="nav">
            <li><a href="/sales">首页</a></li>
        </ul>
    </div>
</div>